* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.container img {
  max-width: 100%;
}

.input {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
}

.message {
  background-color: #fff;
  border-radius: 4px;
  padding: 18px 23px;
  border: none;
}

.button {
  min-width: 160px;
  min-height: 50px;
  padding: 18px;
  background-color: #EC1F46;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

label.invalid {
  color: #EC1F46;
  border-bottom: 1px solid #EC1F46;
  font-size: 12px;
}

button:hover {
  background-color: #DBAE24;
  transition: 0.5s;
}

a:hover {
  background-color: #9FC3DF;
  transition: 1.5s;
}

a.logo:hover {
  background-color: #fff;
  transition: none;
}

a.footer__logo:hover {
  background-color: #0A223D;
  transition: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.navbar {
  background-color: #fff;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-top__menu-button {
  display: none;
  outline: none;
}

.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-bottom {
  background-color: #0A223D;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navbar-menu__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.navbar-menu__item--mobile_visible {
  display: none;
}

.logo {
  width: 176px;
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}

.search__input {
  width: 350px;
  min-height: 40px;
  padding-left: 23px;
  padding-right: 75px;
  background-color: #F5FAFE;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.search__input-block {
  display: flex;
  flex-direction: column;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  border: none;
  background-color: #EC1F46;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user__name {
  max-width: 100px;
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.navbar-bottom__vanishing {
  display: none;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  padding: 18px 0;
  margin: 0;
  list-style: none;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: '/';
  margin-right: 4px;
}

.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding-top: 25px;
  padding-bottom: 70px;
}

.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.hotel-info__offer {
  max-width: 110px;
  margin-left: 15px;
}

.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}

.hotel-info__description {
  margin: 5px 0;
}

.hotel-info__text {
  max-width: 65%;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
}

.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.hotel-grid {
  display: flex;
  justify-content: space-between;
}

.hotel-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-slider {
  width: 728px;
  height: 450px;
}

.hotel-slider__item {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.hotel-slider__item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 10;
}

.hotel-slider__button {
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.hotel-slider__button--next {
  right: 18px;
  background-image: url(../image/arrow-next.svg);
}

.hotel-slider__button--prev {
  left: 18px;
  background-image: url(../image/arrow-prev.svg);
}

.stars {
  width: 100%;
  height: 8px;
  display: flex;
}

.stars-img {
  margin-right: 2px;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 3px 10px;
  background-color: #EC1F46;
  border-radius: 3px;
  color: #fff;
  margin-top: 6px;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: #fff;
  background-color: #EC1F46;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-right: 1px;
}

.rating__text {
  font-size: 8px;
  font-weight: 600;
  line-height: 10px;
}

.rating__counter {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.rating__counter-small {
  font-size: 10px;
}

.hotel-slider {
  margin-left: 0;
}

.hotel-slider__image {
  width: 100%;
}

.hotel-back {
  margin-top: 20px;
  background-color: #EC1F46;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.hotel-back:hover {
  background-color: #0A223D;
  transition: 0.5s;
}

.booking {
  font-family: 'Nunito', sans-serif;
  background-color: #0A223D;
  color: #fff;
  border-radius: 8px;
  width: 350px;
  min-height: 210px;
  padding: 28px 28px 24px;
}

.booking__text {
  margin-top: 5px;
}

.booking__info {
  margin-right: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.booking__price {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.booking__start {
  max-width: 100%;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.booking__pricetag {
  max-width: 130px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}

.booking__pre-room {
  max-width: 130px;
  font-size: 12px;
  line-height: 16px;
}

.booking__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.booking__description {
  max-width: 100px;
  margin-left: 9px;
}

.booking__call-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.booking__heading {
  max-width: 130px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__num {
  max-width: 100px;
  margin-left: 8px;
}

.booking__button {
  width: 100%;
  min-height: 40px;
  max-height: 43px;
  font-weight: 600;
  font-size: 14px;
  line-height: 6px;
  border-radius: 4px;
  background-color: #EC1F46;
  border: none;
  color: #fff;
  cursor: pointer;
}

.map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  padding: 0;
  background-image: url(../image/map.jpg);
  background-position: center center;
}

.map__ymap {
  width: 100%;
}

.newsletter {
  position: relative;
  padding: 98px 0 87px 0;
  background-image: url(../image/newsletter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newsletter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
}

.newsletter-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 731px;
  margin: auto;
}

.newsletter-title {
  max-width: 350px;
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.newsletter-title__strong {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe {
  position: relative;
  width: 350px;
  height: 55px;
}

.subscribe__input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 33px;
  padding-right: 75px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
}

.subscribe__button {
  position: absolute;
  max-width: 120px;
  min-width: 65px;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background-color: #EC1F46;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.reviews {
  background-color: #F5FAFE;
  padding: 40px 0 70px 0;
}

.reviews__title {
  max-width: 1111px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
  margin-top: 0;
}

.reviews-slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 730px;
  margin: 45px auto 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 0 62px 30px;
}

.reviews-slider__item:before {
  position: absolute;
  content: '';
  top: 13px;
  left: 62px;
  width: 70px;
  height: 47px;
  background-image: url(../image/quote-left.svg);
  background-repeat: no-repeat;
}

.reviews-slider__item:after {
  position: absolute;
  content: '';
  top: 118px;
  right: 62px;
  width: 70px;
  height: 47px;
  background-image: url(../image/quote-right.svg);
  background-repeat: no-repeat;
}

.reviews-slider__button {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
  outline: none;
}

.reviews-slider__button--prev {
  background-image: url(../image/arrow-prev-secondary.svg);
  left: 18px;
}

.reviews-slider__button--next {
  background-image: url(../image/arrow-next-secondary.svg);
  right: 18px;
}

.reviews-slider__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
  margin-bottom: 32px;
}

.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 9px;
}

.reviews-slider__username {
  max-width: 130px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-top: 0px;
  margin-bottom: 10px;
}

.reviews-slider__date {
  max-width: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 4px;
}

.reviews-slider__rating {
  display: flex;
  align-items: center;
}

.reviews-slider__text {
  max-width: 537px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  margin: auto;
}

.activities {
  padding: 60px 0 98px 0;
}

.activities__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 57px;
}

.activities-wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 26px;
  width: 255px;
  min-height: 255px;
  border-radius: 6px;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
}

.card__image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.card__title {
  width: 200px;
  margin-top: auto;
  margin-bottom: 18px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.card__button {
  font-weight: 600;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  padding: 7px 20px 7px 21px;
  border: none;
  background-color: #EC1F46;
  border-radius: 4px;
  cursor: pointer;
}

.packages {
  padding-bottom: 70px;
}

.packages__title {
  margin-top: 40px;
  margin-bottom: 65px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.packages-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  grid-gap: 30px;
  min-height: 300px;
}

.packages__images {
  width: 366px;
  height: 500px;
}

.packages__offer {
  left: 0;
  position: absolute;
  margin-top: 27px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 8px 21px 7px 11px;
  background-color: #EC1F46;
  border-radius: 3px;
  color: #fff;
}

.packages__offer-seconadary {
  margin-top: 26px;
  padding: 4px 9px;
  font-size: 8px;
  line-height: 10px;
}

.packages__card-images {
  position: relative;
}

.packages-card {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  max-height: 500px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.packages-card-main {
  flex-direction: row;
  min-height: 500px;
  max-height: 500px;
  max-width: 730px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  grid-column: span 2;
}

.packages-card__images {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.packages-card__seconadary {
  overflow-y: auto;
  min-height: 250px;
  background-color: #0A223D;
  color: #fff;
  padding: 30px 21px 15px 32px;
}

.packages__seconadary-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 23px;
}

.packages__main-info {
  color: #fff;
  background-color: #0A223D;
  width: 364px;
  padding: 46px 21px 30px 43px;
}

.packages__stars {
  display: flex;
  height: 8px;
  margin-bottom: 5px;
}

.packages__title-main {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-top: 5px;
  margin-bottom: 27px;
}

.packages__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 47px;
}

.packages__price {
  display: flex;
  min-height: 60px;
}

.packages__pricetag {
  margin-right: 31%;
  width: 30%;
}

.packages__pricetag-old {
  max-width: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  margin-bottom: 5px;
}

.packages__pricetag-sale {
  max-width: 90px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.packages__pricetag-main {
  margin-left: 2px;
}

.packages__button {
  margin-top: 17px;
  background-color: #EC1F46;
  border-radius: 4px;
  min-height: 39px;
  max-height: max-content;
  max-width: 150px;
  min-width: 120px;
  padding: 8px 18px;
  color: #fff;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.packages__button--mt-20 {
  margin-top: 17px;
}

.per-room {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 38px;
  margin-left: 4px;
}

.per-room__description {
  margin-left: 14px;
}

.per-room__text {
  margin-bottom: 11px;
}

.per-room__text::last-child {
  margin-bottom: 0;
}

.per-room-seconadary {
  margin-bottom: 24px;
  margin-left: 1px;
}

.footer {
  background-color: #0A223D;
  color: #fff;
  padding: 108px 0 46px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-column-gap: 27px;
  grid-row-gap: 20px;
  grid-auto-rows: minmax(40px, min-content);
  align-items: start;
}

.footer__logo {
  width: 153px;
  grid-row: 1 / 3;
  align-self: center;
}

.footer__categories {
  grid-row: 1 / 4;
}

.footer__social-links {
  display: flex;
  align-items: center;
  min-width: 83px;
  justify-content: space-between;
}

.footer__social-network {
  display: flex;
  align-content: start;
  grid-row: 2 / 4;
  grid-column: span 2;
}

.footer__social--bgc:hover {
  background-color: red;
}

.footer__contact-details {
  grid-column: span 2;
  margin-left: -6px;
  margin-top: 8px;
}

.footer__contact-form {
  grid-column: span 2;
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 33px;
  place-items: flex-start;
}

.footer__message {
  height: 123px;
  resize: none;
}

.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.footer__title--inline {
  margin: 0 43px 0 0;
}

.footer__title--mb-3 {
  margin-bottom: 30px;
}

.footer__item {
  display: flex;
  align-items: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
}

.footer__item--mb-2 {
  margin-bottom: 16px;
}

.footer__item--mb14 {
  margin-bottom: 14px;
}

.footer__item--mb18 {
  margin-bottom: 18px;
}

.footer__item--lk {
  color: #BDBDBD;
  text-decoration: none;
}

.footer__item--lk:hover {
  color: #0A223D;
}

.footer__icon {
  margin-left: 8px;
}

.footer__icon-wrapper {
  min-width: 45px;
}

.footer__icon-map-marker {
  padding-top: 5px;
}

.footer__icon-phone-call {
  padding-top: 6px;
}

.footer__icon-email {
  padding-top: 8px;
}

.footer__text {
  color: #BDBDBD;
  margin-bottom: 22px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__input {
  width: 100%;
}

.footer__input-group {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 15px;
  flex-basis: 47%;
}

.footer__message {
  flex-basis: 100%;
  margin-bottom: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.footer__info {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

.footer__info--dn {
  display: none;
}

.footer__legal {
  margin-left: 60px;
}

.footer__bottom {
  grid-column: span 2 / 4;
  margin-top: 70px;
}

.footer__bottom-list {
  display: flex;
  justify-content: center;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 0;
  margin-left: -3px;
}

.footer__mark {
  width: 133px;
  align-self: end;
  justify-self: end;
  margin-bottom: 10px;
  margin-right: 5px;
}

.footer__listing {
  padding-right: 13px;
}

.footer__listing--lschild {
  padding-right: 0;
}

.modal {
  overflow-y: auto;
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 100;
  transition: opacity 0.2s;
  visibility: hidden;
  overflow-y: auto;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 478px;
  padding: 33px 88px;
  background-color: #0A223D;
  color: #fff;
  border-radius: 8px;
  z-index: 101;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  max-height: 500px;
  height: 75vh;
}

.modal__dialog--visible {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: 560px;
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  text-decoration: none;
  cursor: pointer;
}

.modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.modal__input {
  width: 100%;
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.modal__message {
  width: 100%;
  min-height: 123px;
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.modal__button {
  margin-top: 15px;
}

.modal__info {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
  margin-left: 41px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .slider {
    width: 590px;
  }
  .hotel__slider {
    width: 590px;
  }
  .hotel-slider__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card {
    width: 230px;
    min-height: 230px;
  }
  .packages__pricetag {
    margin-right: 10%;
    width: 40%;
  }
  .packages__per-room {
    margin-bottom: 24px;
  }
  .packages__main-info {
    overflow-y: auto;
  }
  .per-room-seconadary {
    margin-bottom: 27px;
  }
  .footer__input-group {
    flex-basis: 100%;
  }
}

@media (max-width: 992px) {
  .container,
  .newsletter-wrapper {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding-top: 32px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin-left: auto;
    margin-right: 73px;
  }
  .navbar-menu {
    padding: 0 14px;
    padding-top: 20px;
    padding-bottom: 22px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .search__input {
    width: 340px;
  }
  .slider {
    width: 702px;
  }
  .stars {
    margin-bottom: 2px;
  }
  .offer {
    margin-top: 0;
  }
  .hotel {
    padding-bottom: 57px;
  }
  .hotel-grid {
    flex-direction: column;
  }
  .hotel__slider {
    margin-bottom: 30px;
  }
  .hotel-right {
    flex-direction: row;
  }
  .hotel-slider {
    width: 100%;
  }
  .hotel-info {
    padding-bottom: 18px;
  }
  .booking {
    width: 340px;
    padding: 28px 23px 32px;
  }
  .booking__info {
    margin-right: 0;
  }
  .booking__pricetag {
    line-height: 32px;
  }
  .booking__pre-room {
    font-size: 12px;
    line-height: 14px;
  }
  .booking__call-center {
    margin-bottom: 21px;
  }
  .booking__description {
    margin-left: 9px;
  }
  .map {
    width: 340px;
  }
  .reviews {
    padding-top: 42px;
    padding-bottom: 60px;
  }
  .reviews-slider__button {
    top: 50%;
  }
  .reviews-slider__button--prev {
    left: 0;
  }
  .reviews-slider__button--next {
    right: 0;
  }
  .reviews-slider__rating {
    margin-left: 6px;
  }
  .reviews__title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .newsletter {
    padding: 92px 0 93px 0;
  }
  .activities {
    padding-bottom: 49px;
  }
  .activities__title {
    margin-bottom: 55px;
  }
  .activities-wrapper {
    flex-wrap: wrap;
  }
  .activities__card {
    margin-bottom: 20px;
  }
  .subscribe__button {
    font-size: 12px;
    line-height: 15px;
  }
  .card {
    width: 340px;
    min-height: 256px;
  }
  .packages-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .footer {
    padding-top: 70px;
  }
  .footer-wrapper {
    grid-template-columns: 160px repeat(2, minmax(max-content, 1fr));
    grid-row-gap: 24px;
    grid-column-gap: 30px;
  }
  .footer__form {
    justify-content: flex-start;
  }
  .footer__message {
    flex-basis: 72%;
    margin-right: 10%;
  }
  .footer__input-group {
    flex-basis: 34%;
    margin-right: 30px;
  }
  .footer__logo {
    grid-row: 1 / 2;
    grid-column: span 1;
    width: 97px;
  }
  .footer__social-network {
    grid-row: 1 / 2;
    grid-column: span 4;
    align-self: center;
    margin-top: 16px;
    margin-left: -4px;
  }
  .footer__categories {
    grid-row: 2 / 3;
    grid-column: span 1;
  }
  .footer__legal {
    grid-column: span 1;
    margin-left: 23px;
  }
  .footer__additional {
    grid-column: span 1;
    margin-left: 10px;
  }
  .footer__contact-details {
    grid-column: span 5;
    grid-row: 3;
    margin-left: 0px;
    margin-top: 0;
  }
  .footer__contact-form {
    grid-column: span 5;
    grid-row: 4;
  }
  .footer__title {
    margin-top: 24px;
  }
  .footer__title--mb-3 {
    margin-top: 37px;
  }
  .footer__title--mb35 {
    margin-top: 18px;
  }
  .footer__title--inline {
    margin-top: 0;
  }
  .footer__text {
    font-size: 14px;
    margin-bottom: 22px;
  }
  .footer__button {
    min-height: 48px;
    padding: 17px;
    margin-right: 37.6%;
  }
  .footer__bottom {
    grid-column: span 2 / 3;
    margin-top: 30px;
    justify-self: start;
  }
  .footer__bottom-list {
    padding-left: 2px;
  }
  .footer__mark {
    margin-right: -10px;
  }
  .footer__icon-phone-call {
    margin-left: 5px;
  }
  .footer__icon-email {
    margin-left: 6px;
  }
  .modal__dialog {
    min-width: 450px;
    padding: 33px 50px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  body {
    padding-top: 78px;
  }
  .navbar--mobile_fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
  }
  .navbar__search {
    display: none;
  }
  .navbar__search--mobile_visible {
    margin-right: 0;
  }
  .navbar__user--mobile_hidden, .navbar__search--mobile_hidden {
    display: none;
  }
  .navbar__user--mobile_visible, .navbar__search--mobile_visible {
    display: flex;
  }
  .navbar__user {
    flex-direction: column;
    justify-content: center;
  }
  .navbar-bottom {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 78px;
    padding-top: 30px;
  }
  .navbar-bottom--visible {
    display: block;
    overflow-y: auto;
  }
  .navbar-menu {
    flex-direction: column;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
  }
  .navbar-menu__item--mobile_visible {
    display: block;
  }
  .menu-button {
    display: flex;
    width: 16px;
    height: 11px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .user__name--light {
    color: #fff;
    margin-left: 0;
    margin-top: 10px;
  }
  .stars {
    flex-basis: 13%;
  }
  .hotel-grid {
    display: flex;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-info {
    padding-bottom: 38px;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
  }
  .hotel-right {
    flex-direction: column;
    min-height: 450px;
  }
  .hotel-slider {
    height: 350px;
  }
  .booking {
    width: 100%;
    margin-bottom: 30px;
  }
  .map {
    width: 100%;
  }
  .swiper-container {
    height: 98%;
  }
  .swiper-slide {
    height: auto;
  }
  .swiper-slide__image {
    height: 100%;
  }
  .newsletter-title {
    padding-bottom: 10px;
  }
  .newsletter-wrapper {
    max-width: 576px;
    width: 92%;
    flex-direction: column;
    align-items: flex-start;
  }
  .reviews-slider__rating {
    margin-left: 0;
  }
  .reviews-slider__item {
    padding: 0 30px 30px 30px;
  }
  .reviews-slider__item::after, .reviews-slider__item::before {
    display: none;
  }
  .reviews-slider__button {
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .reviews-slider__button--prev {
    left: 50%;
    margin-left: -65px;
    transform: translate(-50%, 0);
  }
  .reviews-slider__button--next {
    left: 56%;
    margin-right: -65px;
    transform: translate(50%, 0);
  }
  .activities {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .card {
    width: 49%;
    min-height: 255px;
  }
  .packages__title {
    font-size: 28px;
  }
  .packages__title-main {
    margin-bottom: 10px;
    margin-top: 0;
  }
  .packages-card-main {
    flex-direction: column;
    height: 460px;
  }
  .packages__pricetag {
    width: 120px;
    margin-right: 9%;
  }
  .packages__pricetag-old {
    font-size: 13px;
    line-height: 16px;
  }
  .packages__pricetag-sale {
    font-size: 18px;
  }
  .packages__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .packages__main-info {
    width: 100%;
    padding: 30px 20px;
  }
  .packages__text {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 22px;
  }
  .packages__description {
    display: flex;
    flex-wrap: wrap;
  }
  .packages__per-room {
    margin-bottom: 0;
    margin-right: 9%;
  }
  .packages__card-images {
    height: 240px;
  }
  .packages__stars {
    display: none;
  }
  .footer-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .footer__logo {
    grid-row: 1;
    grid-column: 1;
  }
  .footer__social-network {
    grid-row: 1;
    grid-column: 2;
    margin-top: 0;
    margin-left: 0;
  }
  .footer__additional {
    grid-row: 2;
    grid-column: 2;
    margin-left: 0;
  }
  .footer__categories {
    grid-row: 2;
    grid-column: 1;
  }
  .footer__legal {
    grid-row: 3;
    grid-column: 1;
    margin-left: 0;
  }
  .footer__contact-details {
    grid-row: 4;
    grid-column: 1;
  }
  .footer__contact-form {
    grid-row: 5;
    grid-column: span 2;
  }
  .footer__input-group {
    flex-basis: 72%;
  }
  .footer__mark {
    grid-row: 6;
    grid-column: 2;
  }
  .footer__bottom {
    grid-row: 6;
    grid-column: 1;
    width: 100%;
  }
  .footer__bottom-list {
    display: flex;
    flex-direction: column;
  }
  .modal__dialog {
    min-width: 400px;
    padding: 33px 45px;
  }
  .modal__input {
    font-size: 75%;
    height: 40px;
  }
  .modal__message {
    height: 90px;
    font-size: 75%;
  }
}

@media (max-width: 576px) {
  body {
    background-color: #fff;
  }
  .hotel {
    padding-top: 0;
  }
  .stars {
    flex-basis: 13%;
  }
  .booking {
    margin-bottom: 20px;
  }
  .navbar {
    width: 100%;
  }
  .navbar-top {
    padding: 19px 0;
  }
  .navbar-top__menu-button {
    margin-top: 5px;
  }
  .navbar__search {
    height: 30px;
  }
  .navbar-bottom--visible {
    top: 50px;
  }
  .search__input {
    width: 300px;
  }
  .search__button {
    width: 50px;
  }
  .stars {
    margin-top: 2px;
    margin-right: -9px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
  .hotel-description {
    width: 90%;
  }
  .hotel-slider {
    height: 250px;
  }
  .newsletter {
    padding: 76px 0 83px 0;
  }
  .newsletter__title {
    margin-bottom: 37px;
  }
  .subscribe {
    width: 100%;
  }
  .breadcrumb-list {
    padding-top: 27px;
  }
  .card {
    width: 100%;
  }
  .packages__card-images {
    height: 203px;
  }
  .packages__rating {
    width: 100%;
  }
  .packages__title {
    font-size: 26px;
  }
  .packages-card {
    min-height: 400px;
    max-height: 400px;
  }
  .packages-card__images {
    width: 252px;
    height: 168px;
  }
  .packages-card-main {
    min-width: 100%;
    max-width: 100%;
    height: 500px;
  }
  .packages-card__seconadary {
    padding: 15px;
  }
  .packages__title-main {
    margin-bottom: 5px;
  }
  .packages__text {
    display: none;
    font-size: 11px;
  }
  .packages__per-room {
    margin-left: 0;
    margin-right: 10%;
    font-size: 11px;
    line-height: 12px;
  }
  .packages__pricetag {
    width: 80px;
  }
  .packages__pricetag-main {
    width: 80%;
    margin-right: -2%;
  }
  .packages__pricetag-old {
    font-size: 12px;
    line-height: 16px;
  }
  .packages__pricetag-sale {
    font-size: 16px;
  }
  .packages__button {
    min-width: 100px;
    font-size: 14px;
    margin-top: 0;
  }
  .packages__button--mt-20 {
    min-width: 105px;
  }
  .packages__price {
    width: 100%;
  }
  .per-room__description {
    margin-left: 5px;
  }
  .per-room-seconadary {
    margin-left: 0%;
    margin-bottom: 35px;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
  }
  .footer__logo {
    grid-row: 1;
    grid-column: 1;
  }
  .footer__social-network {
    grid-row: 2;
    grid-column: 1;
  }
  .footer__additional {
    grid-row: 4;
    grid-column: 1;
  }
  .footer__categories {
    grid-row: 5;
    grid-column: 1;
  }
  .footer__legal {
    grid-row: 3;
    grid-column: 1;
  }
  .footer__contact-details {
    grid-row: 6;
    grid-column: 1;
  }
  .footer__contact-form {
    grid-row: 7;
    grid-column: 1;
  }
  .footer__bottom {
    grid-row: 8;
    grid-column: 1;
  }
  .footer__bottom-list {
    flex-direction: row;
    padding-left: 25%;
  }
  .footer__mark {
    grid-row: 8;
    grid-column: 1;
    justify-self: start;
    padding-top: 21px;
    margin-bottom: 7px;
  }
  .modal__dialog {
    min-width: 350px;
    padding: 20px 20px;
  }
  .modal__input {
    max-height: 40px;
  }
  .activities__card--or1 {
    order: 1;
  }
  .activities__card--or2 {
    order: 2;
  }
  .activities__card--or3 {
    order: 3;
  }
  .activities__card--or4 {
    order: 4;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 87%;
  }
  .hotel {
    padding-bottom: 37px;
  }
  .hotel__name {
    line-height: 32px;
    padding-bottom: 40px;
  }
  .hotel-slider {
    height: 179px;
    width: 100%;
  }
  .hotel-wrapper {
    margin-top: 7px;
  }
  .hotel-right {
    min-height: 405px;
  }
  .hotel-info__description {
    line-height: 16px;
  }
  .hotel-info__text {
    max-width: 100%;
  }
  .booking {
    padding: 25px 21px 26px 23px;
    width: 100%;
    margin-bottom: 0;
  }
  .booking__start {
    line-height: 19px;
    max-width: 100%;
  }
  .booking__info {
    margin-bottom: 10px;
  }
  .booking__text {
    line-height: 16px;
    margin-top: 7px;
  }
  .booking__pricetag {
    line-height: 30px;
  }
  .booking__description {
    margin-left: 8px;
  }
  .booking__call-center {
    margin-bottom: 17px;
  }
  .booking__button {
    min-height: 45px;
  }
  .booking__number {
    margin-right: 4px;
  }
  .navbar-top {
    padding-bottom: 20px;
    padding-top: 23px;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 68px;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
    line-height: 0;
  }
  .navbar-menu__item:last-child {
    margin-bottom: 0;
  }
  .navbar-bottom__vanishing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 39px;
  }
  .navbar-bottom__user {
    display: flex;
    flex-direction: column;
    padding-top: 31px;
    margin-bottom: 27px;
  }
  .navbar-bottom__search {
    display: block;
    width: 82.5%;
  }
  .navbar__search {
    margin-top: 8px;
    height: 40px;
    margin-bottom: 21px;
  }
  .user__name {
    color: #fff;
    margin-left: 0;
  }
  .search__input {
    width: 244px;
  }
  .search__button {
    width: 26.2%;
  }
  .logo {
    width: 99px;
  }
  .stars {
    flex-basis: 30%;
    margin-top: 3px;
    margin-right: -20px;
  }
  .map {
    height: 173px;
    width: 100%;
  }
  .map__ymap {
    height: 173px;
    width: 100%;
  }
  .newsletter-title {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 0;
  }
  .newsletter-title__strong {
    font-size: 30px;
    line-height: 44px;
  }
  .subscribe {
    width: 100%;
  }
  .reviews {
    padding-bottom: 50px;
  }
  .reviews__title {
    font-size: 18px;
    line-height: 23px;
    width: 250px;
    margin: 0 auto 0 auto;
    margin-bottom: 42px;
  }
  .reviews-slider__text {
    width: 218px;
    font-size: 12px;
    line-height: 19px;
  }
  .reviews-slider__item {
    padding: 0 30px 43px 14px;
    margin: 45px auto 0;
    background-color: #fff;
  }
  .reviews-slider__button {
    top: 23px;
  }
  .reviews-slider__button--next {
    left: 67%;
  }
  .reviews-slider__button--prev {
    left: 38%;
  }
  .subscribe__button {
    font-size: 12px;
    line-height: 15px;
  }
  .subscribe__input {
    padding-left: 19px;
  }
  .activities {
    padding-bottom: 40px;
  }
  .activities__title {
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 23px;
  }
  .activities__card {
    width: 100%;
  }
  .packages {
    padding-bottom: 78px;
  }
  .packages__card-images {
    height: 150px;
  }
  .packages__title {
    font-size: 24px;
  }
  .packages-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .packages__seconadary-title {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    margin-right: 25%;
    margin-bottom: 0;
  }
  .packages__main-info {
    padding: 15px 20px;
  }
  .packages-card {
    min-height: 350px;
    max-height: 350px;
  }
  .packages-card-main {
    min-height: 350px;
    max-height: 350px;
    grid-column: span 1;
  }
  .packages-card__images {
    width: 100%;
    height: 150px;
  }
  .packages-card__seconadary {
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .packages__images {
    height: 100%;
  }
  .packages__price {
    width: 100%;
  }
  .packages__pricetag {
    width: 100%;
  }
  .packages__pricetag-main {
    width: 70%;
  }
  .packages__title-main {
    margin-right: 20px;
    font-size: 14px;
    line-height: 18px;
  }
  .packages__per-room {
    margin-left: 0;
    font-size: 10px;
    margin-top: 10px;
  }
  .packages__rating {
    width: 100%;
  }
  .per-room-seconadary {
    margin-bottom: 5px;
  }
  .footer__logo {
    width: 95px;
    margin-bottom: 18px;
  }
  .footer__social-network {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__title {
    margin-top: 2px;
  }
  .footer__title--inline {
    width: 100%;
    margin-bottom: 22px;
  }
  .footer__title--mb-3 {
    margin-left: -2px;
    margin-bottom: 25px;
  }
  .footer__title--mb35 {
    margin-top: 12px;
    margin-bottom: 16px;
  }
  .footer__additional {
    margin-top: 3px;
  }
  .footer__categories {
    margin-top: 3px;
  }
  .footer__contact-details {
    margin-top: 15px;
  }
  .footer__text {
    width: 95%;
    line-height: 22px;
    margin-bottom: 18px;
    margin-left: -1px;
  }
  .footer__icon-map-marker {
    margin-left: 3px;
  }
  .footer__icon-wrapper {
    margin-left: 0;
    min-width: 29px;
  }
  .footer__icon-phone-call {
    margin-left: 0px;
    padding-top: 6px;
  }
  .footer__icon-email {
    margin-left: 1px;
    margin-top: -1px;
  }
  .footer__item--mb-2 {
    margin-bottom: 21px;
    width: 96%;
  }
  .footer__input-group {
    flex-basis: 100%;
    margin-right: 0;
  }
  .footer__message {
    flex-basis: 100%;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .footer__info {
    display: none;
  }
  .footer__info--dn {
    display: block;
    margin-left: -1px;
    margin-bottom: 15px;
  }
  .footer__bottom {
    margin-top: 8px;
  }
  .footer__bottom-list {
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
    justify-content: flex-start;
  }
  .footer__listing {
    padding-right: 7px;
  }
  .footer__form {
    margin-top: 0;
  }
  .footer__mark {
    padding-top: 32px;
  }
  .modal__dialog {
    min-width: 300px;
    max-width: 70%;
    padding: 20px 20px;
  }
  .modal__input {
    max-height: 40px;
  }
  .modal__button {
    min-width: 50%;
    margin-right: 100%;
  }
  .modal__info {
    margin-left: 0;
  }
  .breadcrumb-list {
    padding-top: 11px;
  }
}
/*# sourceMappingURL=style.css.map */