@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .hotel
    &__slider
      width: 590px
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    min-height: 230px
  .packages
    &__pricetag
      margin-right: 10%
      width: 40%
    &__per-room
      margin-bottom: 24px
  .per-room
    &-seconadary
      margin-bottom: 27px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 32px
      padding-bottom: 30px

    &__search
      margin-left: auto
      margin-right: 73px
    &-menu
      padding: 0 14px
      padding-top: 20px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .slider
    width: 702px
  .stars
    margin-bottom: 2px
  .offer
    margin-top: 0

  .hotel
    padding-bottom: 57px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
    &-info
      padding-bottom: 18px
  .booking
    width: 340px
    padding: 28px 23px 32px
    &__info
      margin-right: 0
    &__pricetag
      line-height: 32px
    &__pre
      &-room
        font-size: 12px
        line-height: 14px
    &__call
      &-center
        margin-bottom: 21px
    &__description
      margin-left: 9px
  .map
    width: 340px
  .reviews
    padding-top: 42px
    padding-bottom: 60px
    &-slider
      &__button
        top: 50%
        &--prev
          left: 0
        &--next
          right: 0
      &__rating
        margin-left: 6px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px

  .newsletter
    padding: 92px 0 93px 0
  .activities
    padding-bottom: 49px
    &__title
      margin-bottom: 55px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .subscribe
    &__button
      font-size: 12px
      line-height: 15px
  .card
    width: 340px
    min-height: 256px
  .packages
    &-grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 20px
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: 160px repeat(2, minmax(max-content, 1fr))
      grid-row-gap: 24px
      grid-column-gap: 30px
    &__form
      justify-content: flex-start
    &__message
      flex-basis: 72%
      margin-right: 10%
    &__input
      flex-basis: 34%
      margin-right: 30px
    &__logo
      grid-row: 1 / 2
      grid-column: span 1
      width: 97px

    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-top: 16px
        margin-left: -4px
    &__categories
      grid-row: 2 / 3
      grid-column: span 1
    &__legal
      grid-column: span 1
      margin-left: 23px
    &__additional
      grid-column: span 1
      margin-left: 10px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
        margin-left: 0px
        margin-top: 0
      &-form
        grid-column: span 5
        grid-row: 4
    &__title
      margin-top: 24px
      &--mb-3
        margin-top: 37px
      &--mb35
        margin-top: 18px
      &--inline
        margin-top: 0
    &__text
      font-size: 14px
      margin-bottom: 22px
    &__button
      min-height: 48px
      padding: 17px
      margin-right: 37.6%
    &__bottom
      grid-column: span 2 / 3
      margin-top: 30px
      justify-self: start
      &-list
        padding-left: 2px
    &__mark
      margin-right: -10px
    &__icon
      &-map-marker

      &-phone-call
        margin-left: 5px

      &-email
        margin-left: 6px

@media (max-width: 768px)
  .container,
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search
      display: none
      &--mobile
        &_visible
          margin-right: 0
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
        overflow-y: auto
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px

  .stars
    flex-basis: 13%
  .hotel
    &-grid
      display: flex
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      padding-bottom: 38px
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
    margin-bottom: 30px
  .map
    width: 100%
  .swiper
    &-container
      height: 98%
    &-slide
      height: auto
      &__image
        height: 100%
  .newsletter
    &-title
      padding-bottom: 10px
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    // padding-top: 40px
    &-slider
      &__rating
        margin-left: 0
      &__item
        padding: 0 30px 30px 30px
        &::after ,&::before
          display: none
      &__button
        top: 32px
        left: 50%
        transform: translate(-50%, 0)
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          left: 56%
          margin-right: -65px
          transform: translate( 50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    min-height: 255px
  .packages
    &__title
      font-size: 28px
      &-main
        margin-bottom: 10px
        margin-top: 0
    &-card
      &-main
        flex-direction: column
        height: 460px

    &__pricetag
      width: 120px
      margin-right: 9%
      &-old
        font-size: 13px
        line-height: 16px
      &-sale
        font-size: 18px
    &__images
      width: 100%
      height: 100%
      object-fit: cover
    &__main
      &-info
        width: 100%
        padding: 30px 20px
    &__text
      margin-top: 0
      margin-bottom: 10px
      font-size: 12px
      line-height: 22px
    &__description
      display: flex
      flex-wrap: wrap
    &__per-room
      margin-bottom: 0
      margin-right: 9%
    &__card
      &-images
        height: 240px
    &__stars
      display: none
  .footer
    &-wrapper
      grid-template-columns: 1fr 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 1
        grid-column: 2
        margin-top: 0
        margin-left: 0
    &__additional
      grid-row: 2
      grid-column: 2
      margin-left: 0
    &__categories
      grid-row: 2
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__contact
      &-details
        grid-row: 4
        grid-column: 1
      &-form
        grid-row: 5
        grid-column: span 2
    &__input
      flex-basis: 72%
    &__mark
      grid-row: 6
      grid-column: 2
    &__bottom
      grid-row: 6
      grid-column: 1
      width: 100%
      &-list
        display: flex
        flex-direction: column

@media (max-width: 576px)
  body
    background-color: $light
  .hotel
    padding-top: 0
  .stars
    flex-basis: 13%
  .booking
    margin-bottom: 20px
  .navbar
    &-top
      width: 95%
      padding: 19px 0
      &__menu-button
        margin-top: 5px
    &__search
      height: 30px
    &-bottom
      &--visible
        top: 68px
  .search
    &__input
      width: 300px
    &__button
      width: 50px
  .stars
    margin-top: 2px
    margin-right: -9px
  .hotel
    &__slider
      margin-bottom: 20px
    &-description
      width: 90%
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px

  .subscribe
    width: 100%
  .breadcrumb
    &-list
      padding-top: 27px
  .card
    width: 100%
  .packages
    &__card
      &-images
        height: 203px
    &__rating
      width: 100%
    &__title
      font-size: 26px
    &-card
      min-height: 400px
      max-height: 400px
      &__images
        width: 252px
        height: 168px
      &-main
        min-width: 100%
        max-width: 100%
        height: 500px
      &__seconadary
        padding: 15px
    &__title
      &-main
        margin-bottom: 5px
    &__text
      display: none
      font-size: 11px
    &__per-room
      margin-left: 0
      margin-right: 10%
      font-size: 11px
      line-height: 12px
    &__pricetag
      width: 80px
      &-main
        width: 80%
        margin-right: -2%
      &-old
        font-size: 12px
        line-height: 16px
      &-sale
        font-size: 16px
    &__button
      min-width: 100px
      font-size: 14px
      margin-top: 0
      &--mt-20
        min-width: 105px

    &__price
      width: 100%
  .per-room
    &__description
      margin-left: 5px
    &-seconadary
      margin-left: 0%
      margin-bottom: 35px
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__bottom
      grid-row: 8
      grid-column: 1
      &-list
        flex-direction: row
        padding-left: 25%
    &__mark
      grid-row: 8
      grid-column: 1
      justify-self: start
      padding-top: 21px
      margin-bottom: 7px

@media (min-width: 320px) and (max-width: 480px)
  .container
    width: 87%
  .hotel
    padding-bottom: 37px
    &__name
      line-height: 32px
      padding-bottom: 40px
    &-slider
      height: 179px
      width: 100%
    &-wrapper
      margin-top: 7px
    &-right
      min-height: 405px
    &-info
      &__description
        line-height: 16px
      &__text
        max-width: 100%

  .booking
    padding: 25px 21px 26px 23px
    width: 100%
    margin-bottom: 0
    &__start
      line-height: 19px
      max-width: 100%
    &__info
      margin-bottom: 10px
    &__text
      line-height: 16px
      margin-top: 7px
    &__pricetag
      line-height: 30px
    &__description
      margin-left: 8px
    &__call
      &-center
        margin-bottom: 17px
    &__button
      min-height: 45px
    &__number
      margin-right: 4px
  .navbar
    &-top
      width: 100%
      padding-bottom: 31px
    &-menu
      display: flex
      flex-direction: column
      padding: 0
      padding-bottom: 68px
      &__item
        margin-bottom: 20px
        line-height: 0
        &:last-child
          margin-bottom: 0
    &-bottom
      &__vanishing
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 39px
      &__user
        display: flex
        flex-direction: column
        padding-top: 31px
        margin-bottom: 27px
      &__search
        display: block
        width: 82.5%
    &__search
      margin-top: 8px
      height: 40px
      margin-bottom: 21px

  .user
    &__name
      color: $light
      margin-left: 0
  .search
    &__input
      width: 244px
    &__button
      width: 26.2%
  .logo
    width: 99px
  .stars
    flex-basis: 30%
    margin-top: 3px
    margin-right: -20px
  .map
    height: 173px
    width: 100%
  .newsletter
    &-title
      font-size: 20px
      line-height: 25px
      padding-bottom: 0
      &__strong
        font-size: 30px
        line-height: 44px
  .subscribe
    width: 100%
  .reviews

    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      width: 250px
      margin: 0 auto 0 auto
      margin-bottom: 42px
    &-slider
      &__text
        width: 218px
        font-size: 12px
        line-height: 19px
      &__item
        padding: 0 30px 43px 14px
        margin: 45px auto 0
        background-color: $light
      &__button
        top: 23px
        &--next
          left: 67%
        &--prev
          left: 38%
  .subscribe
    &__button
      font-size: 12px
      line-height: 15px
    &__input
      padding-left: 19px
  .activities
    padding-bottom: 40px
    &__title
      margin-bottom: 38px
      font-size: 18px
      line-height: 23px
    &__card
      width: 100%
  .packages
    padding-bottom: 78px
    &__card
      &-images
        height: 150px
    &__title
      font-size: 24px
    &-grid
      grid-template-columns: repeat(1, 1fr)
    &__seconadary
      &-title
        width: 100%
        font-size: 14px
        line-height: 18px
        margin-right: 25%
        margin-bottom: 0
    &__main
      &-info
        padding: 15px 20px
    &-card
      min-height: 350px
      max-height: 350px
      &-main
        min-height: 350px
        max-height: 350px
        grid-column: span 1
      &__images
        width: 100%
        height: 150px
      &__seconadary
        min-height: 100px
        display: flex
        flex-wrap: wrap

    &__images
      height: 100%
    &__price
      width: 100%
    &__pricetag
      width: 100%
      &-main
        width: 70%
    &__title
      &-main
        margin-right: 20px
        font-size: 14px
        line-height: 18px
    &__per-room
      margin-left: 0
      font-size: 10px
      margin-top: 10px
    &__rating
      width: 100%
  .per-room
    &-seconadary
      margin-bottom: 5px
  .footer
    &__logo
      width: 95px
      margin-bottom: 18px
    &__social
      &-network
        display: flex
        flex-wrap: wrap
    &__title
      margin-top: 2px
      &--inline
        width: 100%
        margin-bottom: 22px
      &--mb-3
        margin-left: -2px
        margin-bottom: 25px
      &--mb35
        margin-top: 12px
        margin-bottom: 16px
    &__additional
      margin-top: 3px
    &__categories
      margin-top: 3px
    &__contact
      &-details
        margin-top: 15px
    &__text
      width: 95%
      line-height: 22px
      margin-bottom: 18px
      margin-left: -1px
    &__icon
      &-map-marker
        margin-left: 3px
      &-wrapper
        margin-left: 0
        min-width: 29px
      &-phone-call
        margin-left: 0px
        padding-top: 6px
      &-email
        margin-left: 1px
        margin-top: -1px
    &__item
      &--mb-2
        margin-bottom: 21px
        width: 96%
    &__input
      flex-basis: 100%
      margin-right: 0
    &__message
      flex-basis: 100%
      margin-bottom: 16px
      margin-right: 0
    &__info
      display: none
      &--dn
        display: block
        margin-left: -1px
        margin-bottom: 15px
    &__bottom
      margin-top: 8px
      &-list
        margin-top: 0
        padding-left: 0
        margin-left: 0
        justify-content: flex-start
    &__listing
      padding-right: 7px
    &__form
      margin-top: 0
    &__mark
      padding-top: 32px
